Phishing Analysis Bot.json
{
  "name": "Phishing Analysis",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "4cf5aa2e-291ea9-3e055125bfa9",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        256,
        496
      ],
      "webhookId": "384b9635-babc2c6-5a3822748ab5",
      "credentials": {
        "telegramApi": {
          "id": "NliCACtJ2MW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.message.text }}",
        "additionalFields": {
          "visibility": "public"
        }
      },
      "id": "4e34d352c-b56e-81164b0b1b71",
      "name": "URLScan.io Analysis",
      "type": "n8n-nodes-base.urlScanIo",
      "typeVersion": 1,
      "position": [
        704,
        688
      ],
      "credentials": {
        "urlScanIoApi": {
          "id": "",
          "name": "urlscan.io account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.virustotal.com/api/v3/urls",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Apikey",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "": "ab4a9677-ba7c-cea83b32fbf4",
      "name": "VirusTotal Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        496
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "": "b1f4d5f4-9f06-e10645acbaea",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        928,
        592
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "": "-1",
              "name": "analysisReport",
              "value": "=🔒 **PHISHING ANALYSIS REPORT**\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n**🔗 ANALYZED URL**\n`{{ $('Telegram Trigger').item.json.message.text }}`\n\n**📅 SCAN DATE**\n{{ $now.format('MMMM dd, yyyy') }} at {{ $now.format('HH:mm:ss') }} UTC\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n{{ $('AI Security Analyst').item.json.output }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n**📊 SCAN REFERENCES**\n• URLScan: {{ $('URLScan.io Analysis').item.json.result }}\n• VirusTotal: {{ $('VirusTotal Analysis').item.json.data.links.self }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "": "4a54d559-8c-8848-edfd31d3781b",
      "name": "Format Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1504,
        592
      ]
    },
    {
      "parameters": {
        "chat": "={{ $('Telegram Trigger').item.json.message.chat. }}",
        "text": "={{ $json.analysisReport }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "": "2ce3ada3-aa4c-000f64b3e998",
      "name": "Send Results to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1728,
        592
      ],
      "webhook": "bc19ebcb-9f34-4090-82ce-47b0c74ade11",
      "credentials": {
        "telegramApi": {
          "": "",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "options": {
          "systemMessage": "You are a professional cybersecurity analyst. Analyze the URLScan.io and VirusTotal scan results and provide a structured security assessment report with the following sections:\n\n**THREAT ASSESSMENT**\nProvide an overall risk rating: ✅ SAFE | ⚠️ SUSPICIOUS | 🚨 MALICIOUS\n\n**URLSCAN.IO FINDINGS**\nSummarize key indicators from URLScan.io analysis\n\n**VIRUSTOTAL FINDINGS**\nSummarize detection results and vendor flags\n\n**INDICATORS OF COMPROMISE**\nList specific red flags or suspicious patterns identified\n\n**RECOMMENDATION**\nProvide clear action items for the user\n\nUse professional security terminology and be concise but thorough."
        }
      },
      "id": "96b1a42b-eb-a66c-5569beee1be0",
      "name": "AI Security Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1152,
        592
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "cc94e8f7-2ddd5-a5ae-b9febc93aeca",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1224,
        816
      ],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "http://",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "https://",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-3",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "www.",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "ef87c7a6-eb95db-13a61dcc13ca",
      "name": "Validate URL Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        496
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "⚠️ Please send a valid URL to analyze.\n\nExample:\nhttps://example.com\n\nI will scan the URL using URLScan.io and VirusTotal to check for phishing and malware threats.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "fa8c3b6a-4983-9bd6-080366e322b0",
      "name": "Send Help Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        304
      ],
      "webhookId": "b9b14802-11-4347-9d7b-866ace6ceb4c",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Validate URL Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URLScan.io Analysis": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal Analysis": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "AI Security Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Send Results to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Security Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Security Analyst": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate URL Input": {
      "main": [
        [
          {
            "node": "URLScan.io Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "VirusTotal Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cefbcd83-f6cc-4bcc-a9-1b2d012f6328",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3453e316578d9581d9d6af0657cce0fe2eb0bf52e94ec9a04042cf7614fa"
  },
  "id": "kPc2dEUc7Q9eQq",
  "tags": []
}
